doctype html
html(lang='ru')
	head
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mocha/3.2.0/mocha.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/mocha/6.2.2/mocha.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/chai/4.2.0/chai.js")

	body
		div#mocha