# Default
.idea
.vscode

# Node
node_modules

# Dist & test
test-dist
build
PP

source/*.js, *.map

# BD, logs
*.log

source/Model/index.js
source/Model/index.js.map
source/Panel.js
source/Panel.js.map
source/Presenter/index.js
source/Presenter/index.js.map
source/View/Input.js
source/View/Input.js.map
source/View/Line.js
source/View/Line.js.map
source/View/Pin.js
source/View/Pin.js.map
source/View/Slider.js
source/View/Slider.js.map
source/index.js
source/index.js.map
