doctype html
html(lang='ru')
  body
    h1(id="block") adsd!
    a hello links
    a hello links
    hr
    div hello div
    div hello div

    hr
    strong Hello I am strong
    strong Hello I am strong
