include ./panel.pug

doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
  body
    .sliders
      div(id="block")
        +panel({vertical: true, pinUp: true, interval: true, min: 200, max: 600, step: 0})
      //div(id="block2")
      //  +panel({vertical: false, pinUp: false, interval: false, min: 0, max: 900, step: 30})
      //div(id="block3")
      //  +panel({vertical: false, pinUp: false, interval: false, min: 0, max: 100, step: 0})
      //div(id="block4")
      //  +panel({vertical: false, pinUp: false, interval: false, min: 0, max: 300, step: 0})

