include ./panel.pug

doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
  body
    .sliders
      div(id="block")
        +panel({horizontal: true, pinUp: true, interval: true, min: 200, max: 600, step: 150})
      div(id="block2")
        +panel({vertical: true, pinUp: true, interval: false, min: 0, max: 900, step: 30})
      div(id="block3")
        +panel({horizontal: true, pinUp: false, interval: true, min: -200, max: 100, step: 1})
