
body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

*, *:before, *:after { box-sizing: border-box; }

a { text-decoration: none; }

.sliders {
  margin: auto;
}

.slider {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px dotted black;
  margin: 5px;
}

.slider__range {
  margin-left: auto;
  margin-bottom: 25px;
}

.slider__line {
  position: relative;

  &--horizontal {
    width: 300px;
    height: 15px;

    &::before {
      position: absolute;
      content: '';
      left: 8px;
      top: 8px;
      width: 300px;
      height: 5px;
      background: #f0d3b3;
    }
  }

  &--vertical {
    width: 15px;
    height: 300px;

    &::before {
      position: absolute;
      content: '';
      left: 8px;
      top: 8px;
      width: 5px;
      height: 300px;
      background: #f0d3b3;
    }
  }
}

.slider__inner-line {
  position: absolute;
  left: 8px;
  top: 8px;
  background: #8917a2;
  opacity: 0.5;

  &--horizontal {
    width: 0;
    height: 5px;
  }

  &--vertical {
    width: 5px;
    height: 0;
  }
}

.slider__pin {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #8917a2;
  border-radius: 50%;
  margin: auto;
  top: 0;
  left: 0;
  opacity: 0.9;
  z-index: 1;
}

.slider__pin-up {
  position: absolute;
  min-width: 30px;
  text-align: center;
  height: 17px;
  background: #8917a2;
  margin: 0;
  color: #ffffff;

  &--horizontal {
    left: -5px;
    top: -25px;
  }

  &--vertical {
    left: 25px;
  }
}

.slider__input {
  margin-top: 15px;
  width: 70px;
  margin-left: auto;
  text-align: right;
  margin-right: 0;
}
