
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after { box-sizing: border-box; }

a { text-decoration: none; }

#block {
  position: absolute;
  color: red;
  background: #000;
}

.pin {
  position: absolute;
  width: 50px;
  height: 50px;
  background: red;
}
