
body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

*, *:before, *:after { box-sizing: border-box; }

a { text-decoration: none; }

.sliders {
  margin: auto;
}

.slider {
  position: relative;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.slider__range {
  margin-left: auto;
  margin-bottom: 20px;
}

.slider__line {
  width: 300px;
  height: 15px;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    left: 8px;
    top: 8px;
    width: 300px;
    height: 5px;
    background: #f0d3b3;
  }
}

.slider__inner-line {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 0px;
  height: 5px;
  background: red;
}

.slider__pin {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #8917a2;
  border-radius: 50%;
  margin: auto;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: 1;
}

.slider__pin-up {
  position: absolute;
  left: -5px;
  top: -25px;
  min-width: 30px;
  text-align: center;
  height: 17px;
  background: #8917a2;
  margin: 0;
  color: #ffffff;
}

.slider__input {
  margin-top: 15px;
  width: 70px;
  margin-left: auto;
  text-align: right;
  margin-right: 0;
}
