.panel
  label.panel__label вертикальный вид
    input.panel__input(type="checkbox", name="vertical")
  label.panel__label бегунок
    input.panel__input(type="checkbox", name="pin-up")
  label.panel__label min
    input.panel__input(type="number", name="min" min="0")
  label.panel__label max
    input.panel__input(type="number", name="max")
  label.panel__label размер шага
    input.panel__input(type="number", name="step")
